body {
  background: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.globalHeader {
  margin: 20px;
}
.globalHeader .searchForm {
  display: flex;
  justify-content: space-between;
}
.globalHeader input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.globalHeader button {
  white-space: nowrap;
  padding: 0 18px;
  background: #4284e8;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 16px;
}

.globalMain {
}

.siteList {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.siteList > li {
  margin-bottom: 10px;
}
.siteList .site {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 0;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
